<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/elementui.css"/>
    <script src="js/vue.min.js"></script>
    <script src="js/elementui.js"></script>
    <script src="js/axios.min.js"></script>
</head>
<body>
<div id="app">
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="车位地址号" prop="parkingAddress">
            <el-input v-model="ruleForm.parkingAddress"></el-input>
        </el-form-item>
        <el-form-item label="车位面积" prop="parkingArea">
            <el-input v-model="ruleForm.parkingArea"></el-input>
        </el-form-item>
        <el-form-item label="车位状态" prop="parkingStatus">
            <el-input v-model="ruleForm.parkingStatus"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
            <el-button @click="resetForm('ruleForm')">重置</el-button>
        </el-form-item>
    </el-form>

</div>
<script>
    new Vue({
        el: "#app",
        data: {
            ruleForm: {
                parkingAddress: '',
                parkingArea: '',
                parkingStatus: ''
            },
            rules: {
                parkingAddress: [
                    {required: true, message: '请输入车位地址编号', trigger: 'blur'},
                    {min: 2, max: 4, message: '长度在 2 到 4 个字符', trigger: 'blur'}
                ],
                parkingArea: [
                    {required: true, message: '请输入车位面积', trigger: 'blur'},
                    {min: 2, max: 5, message: '长度在 2 到 5 个字符', trigger: 'blur'}
                ],
                parkingStatus: [
                    {required: true, message: '请输入车位状态', trigger: 'blur'},
                    {min: 2, max: 4, message: '长度在 2 到 4 个字符', trigger: 'blur'}
                ]
            },
        },
        methods: {
            submitForm() {
                console.log(this.form)
                axios.post("/parking/add", this.ruleForm).then(r => {
                    if (r.data.code == 200) {
                        this.$notify({
                            title: '成功',
                            message: '添加成功',
                            type: 'success'
                        });
                    } else {
                        this.$notify.error({
                            title: '错误',
                            message: '添加失败'
                        });
                    }
                })
            }

        }
    })
</script>
</body>
</html>